<launch>

    <!-- Currents simulation -->

    <node name="currents" type="currents" pkg="quarterscalesimulation" >
    <param name = "beta_current" value = "0.0" /> <!-- OG is 0 -->
    <param name = "stddev_cur" value = "1.0" /> <!-- OG is 1 -->
    <param name = "mu" value = "0.9" />
    <param name = "scale_factor" value = "1.0" />
    </node>

</launch>