<launch>
    <!-- MPC-CBF Node -->
    <node name="mpc_cbf_node" pkg="embedded_cbf" type="mpc_cbf_node.py" output="screen">
        <!-- MPC parameters -->
        <param name="horizon" value="41"/>
        <param name="dt" value="0.1"/>
        <param name="N_cbf" value="40"/>
        <param name="rate" value="10.0"/>
        <param name="max_force" value="6.0"/>
        <param name="gamma" value="0.8"/>
        <param name="max_approx" value="0.005"/>
        
        <!-- Robot dimensions -->
        <param name="robot_length" value="0.9"/>
        <param name="robot_width" value="0.45"/>
        
        <!-- Maximum halfplanes for polytope constraint -->
        <param name="max_halfplanes" value="20"/>
        
        <!-- Cost weights -->
        <param name="Q_x" value="10.0"/>
        <param name="Q_y" value="10.0"/>
        <param name="Q_psi" value="0.0"/>
        <param name="R_f1" value="0.1"/>
        <param name="R_f2" value="0.1"/>
        <param name="R_f3" value="0.2"/>
        <param name="R_f4" value="0.2"/>
        
        <!-- Reference state -->
        <!-- <param name="x_ref" value="6.0"/>
        <param name="y_ref" value="0.0"/>
        <param name="psi_ref" value="0.0"/> -->
        
        <!-- Boat dynamics (QuarterScale) -->
        <param name="system_dynamics/m11" value="16.9"/>
        <param name="system_dynamics/m22" value="30.5"/>
        <param name="system_dynamics/m33" value="5.77"/>
        <param name="system_dynamics/d11" value="0.86"/>
        <param name="system_dynamics/d22" value="15.73"/>
        <param name="system_dynamics/d33" value="1.78"/>
        <param name="system_dynamics/aa" value="0.18"/>
        <param name="system_dynamics/bb" value="0.08"/>
    </node>
</launch>