<launch>
    <arg name="car_width" value="0.06"/>
    <arg name="car_length" value="0.15"/>
    <arg name="car_wheelbase" value="0.10"/>
    <arg name="rear_offset" value="0.05"/>

    <node pkg="kinematic_car" type="kinematic_car_node.py" name="kinematic_car_sim" output="screen">
        <param name="width"     value="$(arg car_width)"/>
        <param name="length"    value="$(arg car_length)"/>
        <param name="wheelbase" value="$(arg car_wheelbase)"/>
        </node>

    <node pkg="firi_ros" type="firi_polytope_node" name="firi_solver" output="screen">
        <param name="robot_width"      value="$(arg car_width)"/>
        <param name="robot_length"     value="$(arg car_length)"/>
        <param name="rear_axle_offset" value="$(arg rear_offset)"/>>
    </node>

    <node pkg="kinematic_car" type="global_planner.py" name="global_planner" output="screen">
        <param name="frame_id" value="map"/>
        <param name="margin" value="0.08"/>
        <!-- <remap from="/obstacles" to="/obstacles"/>  -->
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kinematic_car)/rviz/config.rviz" /> -->
</launch>